@import '../../assets/scss/variable.scss';

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  font-weight: 300;
  width: 100%;
  background-color: $footer-bg-color;
  color:$black;
  padding: 5px;
  @include font($font-size: 12px, $line-height: 25px)
}