$carousel-butoon-color: #01000036;
$carousel-dot-color: #807676 !important;
$carousel-butoon-padding: 10px 15px !important;
$none:none;
$position-relative:relative !important;
$auto:auto !important;
$fifty-peresent :50% !important;
$ten-pixer:10px !important;
$fifteen-persent :15px !important;
$black:black;
$gray:gray;
$blue:#19B5FE;
$white:white