<ul>
    <li>Fruits and Vegetables</li>
    <li>Bakery Cakes and Dairy</li>
    <li>Bevrages</li>
    <li>Beauty and Hygine</li>
    <li>Baby Care</li>
</ul>

<!-- <ngb-accordion #acc="ngbAccordion">
    <ngb-panel id="toggle-1" title="First panel">
        <ng-template ngbPanelContent>


            <ul style="
        background: #ae1345;
    ">
                <li>Fruits and Vegetables</li>
                <li>Bakery Cakes and Dairy</li>
                <li>Bevrages</li>
                <li>Beauty and Hygine</li>
                <li>Baby Care</li>
            </ul>

        </ng-template>
    </ngb-panel>

</ngb-accordion> -->