@import '../../assets/scss/variable.scss';


.left-side {
    .text-left {
        float: left;
    }
}

label {
    margin-top: 3%;
}

input {
    border: $none;
    border-bottom: 1px solid;
    width: 80%;
    margin-bottom: 3%;
    &:focus {
        color: $blue;
        border: $none;
        outline: $none;
        border-bottom: 1px solid;
    }
}

button {
    width: 80%;
    height: 50px;
    color: $white;
    background-color: $btn-color;
    border: $none;
    &:hover{
    background-color: $btn-hover-color;
    }
}
.btn-disable {
    background-color: $btn-disable-color;
}

.btn-enable-message {
    display: $none;
}

.btn-disable-message {
    display: block;
}

.errorMessage {
    color:$error-color ;
}