@import '../../../assets/scss/variable.scss';

.product-listing {

    .sidebar-filter,
    .main-content {
        float: left;
    }

    .main-content {
        margin-top: 20px;
    }

    .product-item {
        position: relative;

        .product-name {
            font-weight: 500;
            height: 79px;
            padding-bottom: 15px;
        }

        .product-image {
            padding-bottom: 10px;
            text-align: center;

            img {
                width: 100%;
                max-width: 178px !important;
            }
        }

        .product-desc {
            background-color: $product-description-bg;
            line-height: 1.2;
            padding: 10px 13px 0px 10px;
            font-size: 14px;

            p {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                line-height: 21px !important;
                font-size: 16px !important;
            }
        }

        .truncate {
            width: 100%;
            line-height: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            min-height: 106px;
        }

        .product-options {
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            ;
            border-bottom: 2px dashed $footer-bg-color;

            .product-price {
                letter-spacing: -1px;
                font-size: 14px;
            }

            .buy-btn {
                background-color: $btn-color;
                letter-spacing: -1px;
                color: $white;
                padding: 3px 20px;
                font-size: 14px;
            }
        }
    }
}

.product-button-tablet {
    display: $none;
}

@media (min-width: 320px) {
    .border-line-right {
        box-shadow: 4px 5px 9px $footer-bg-color;
        margin-bottom: 30px;
    }

    .sidebar-filter {
        width: $peresent-100;
        background-color: $btn-color;
        height: auto;
    }

    .product-listing {
        .main-content {
            width: $peresent-100;
        }
    }
}

@media (min-width: 500px) {
    .border-line-right {
        box-shadow: 4px 5px 9px $footer-bg-color;
        margin-bottom: 30px;

        &:nth-child(4n) {
            border-right: $none;
        }

        &:last-child {
            margin-bottom: 30px;
        }
    }

    .sidebar-filter {
        width: 250px;
        background-color: $footer-bg-color;
        height: 100vh;
    }

    .product-listing {
        .main-content {
            width: calc(100% - 250px);
        }
    }
}


@media (max-width: 991px) {
    .col-my-sm-6 {
        flex: 0 0 auto;
        width: $fifty-peresent;
    }
}


@media (max-width: 991px) {
    .col-my-tb-12 {
        width: $fifty-peresent;
    }

    .sidebar-filter {
        width: 188px;
    }

    .product-listing .main-content {
        width: calc(100% - 188px);
    }

    .product-container {
        display: $d-flex;
    }

    .product-button,
    .product-price {
        display: $none;
    }

    .product-button-tablet {
        display: block;
        width: $peresent-100;
        text-align: center;
        @include c-pointer;

    }

    .container-tablet {
        max-width: $peresent-100;
    }

    .product-name h2 {
        @include font($font-size: 16px, $line-height: 19px)
    }

    .product-btn {
        @include font($font-size: 15px, $line-height: 28px);
    }

    .product-listing .product-item .product-desc p {
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-height: 20px !important;
        line-height: 20px !important;
    }

}

@media (max-width: 991px) {
    .col-my-tb-12 {
        width: $peresent-100;
    }
}


@media (max-width: 499px) {

    .main-content,
    .sidebar-filter {
        width: $peresent-100 !important;
    }

    .container-fluid {
        padding: $no-padding-margin;
    }

    .product-listing .product-item .product-image img {
        width: $peresent-100;
        max-width: 123px !important;
    }
}
