.container .row .row .login-singup {
	text-align: right;
	display: inline-block;
}
.container .row .cart-imag {
	text-align: right;
	background-color: grey;
	width: 90px;
	height: 50px;
	float: right;
}
.cart-iteamcount {
	white-space: nowrap;
}
