@import '../../../assets/scss/variable.scss';

@mixin fontsizeWight($font-size: 17px, $font-weight: 30px) {
    font-size: $font-size !important;
    font-weight: $font-weight !important;
}

.fa-minus-circle,
.fa-plus-circle {
    color: $btn-color;
}

.cart-item-img {
    img {
        width: $peresent-100;
    }
}

.card-product {
    display: $d-flex;

    .cart-item-img {
        img {
            width: $peresent-100;
        }
    }

    .product-description {
        padding-left: 20px;

        .desc-summary {
            color: $summary-color;
            display: $d-flex;
            align-items: center;
            margin-top: $ten-pixer;

            span.item {
                font-size: 17px;
                margin-top: 4px;
            }

            .total-price {
                position: absolute;
                right: 30px;
                font-size: 20px;
            }
        }
    }
}

@media (min-width: 320px) {
    .card-product {
        .product-description {
            .heading {
                @include fontsizeWight($font-size: 14px, $font-weight: 500)
            }
        }
    }
}

@media (min-width: 482px) {
    .card-product {
        .product-description {
            .heading {
                @include fontsizeWight($font-size: 18px, $font-weight: 500)
            }
        }
    }
}